html{
  font-family: 'Montserrat', sans-serif;
}

.Navar{
  display: flex;
  width: 100vw;
  height: 20vh;
  background-color: rgb(0, 1, 39);
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1%;
}
.logoMenu{
  width: 150px;
  height: 150px;

}

.footer{
  margin-top:3% ;
  position: static;
  bottom: 0vh;
  background-color: brown;
  width: 100vw;
  height:15vh;

}
/* estilo de las cards */
.tarjeta{
  font-family: 'Montserrat', sans-serif;
  border: 2px solid dimgray;
  border-radius: 5px;
  background-image: url('./img/tarjetaBack.png');
  background-size: cover;
  width: fit-content;
  padding: 10px;
  margin: 5px;
  text-align: center;
}
.tarjeta:hover{
  border: 2px solid brown;
}
.nombre{
  font-size: 22px;
  font-weight: bold;
  color: #464646;
}
.profesion{
  font-size: 16px;
  color: #6c6c6c;
}
.telefono{
  font-size: 18px;
  font-style: italic;
  color: #6c6c6c;
}
.mensaje{
  font-size: 14px;
  font-style: italic;
  color: #6c6c6c;
}

.opciones{
height:350px;
border-radius: 10px;
}
.organigrama{
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  height:173px;
  background-color: rgb(76, 76, 76);
  margin: 0 5px;
}
.sugerencias{
  text-align: center;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  height:172px;
  background-color: rgba(96, 37, 37, 0.5);
  margin: 5px 5px 0 5px;
  padding: 10px;
}
.sumate{
  text-transform: none;
  color: #335cae;
  position: absolute;
  top: 78vh;
  left: 85vw;
}